@font-face{
    font-family: 'ShareTech';
    src: url('Fonte/Share_Tech/ShareTech-Regular.ttf');
}
*{
    margin: 0%;
    padding: 0%;
    font-family: ShareTech;
}
body{
    background-color: rgb(165, 164, 164);
    background-image: url("Imagens/Easy/Easy01.jpg");
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    padding: 3%;
    min-width: 580px;
    max-width: 1600px;
}
header{
    margin: -2% 0% -4% -1%;
}
#Janela{
    padding: 2%;
    margin-left: -3%;
}
#Botão{
    margin: 0% 0% 1% 80%;
}
#Botão button{
    margin: 1%;
    padding: 2%;
    background-color: #006CA1;
    border-color: #0274ad;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#Titulo_Grande{
    font-size: 60px;
}
#Janela p{
    font-size: 27px;
    margin-top: 17px;
    margin-bottom: 10px;
}
#Nome{
    color: #02B4EE;
}
h1{
    color: rgb(255, 255, 255);
}
p{
    color: hsl(0, 0%, 100%);
}
#Projetos{
    margin: -31% 10% 0% 47%;
}
#Projetos h1{
    margin-left: 26%;
    padding: 20px;
}
#Habilidades{
    margin-top: 50px;
}
.Imagens{
    width: 230px;
    border: 3px solid #0274ad;
}
img{
    width: 80px;
}